.footer__links_link{
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;  
}

.footer__links_link:hover {
    opacity: .8;
}

@media screen and (max-width: 700px) {

    .footer__links_link {
        margin-bottom: 20px;
    }
} 

@media screen and (max-width: 320px) {

    .footer__links_link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}