.lead {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 56px auto 0px auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {

    .lead {
        margin: 48px auto 0px auto;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {

    .lead {
        margin: 48px 0px 0px 0px;
        max-width: 768px;
    }
}





