.place__paragraph {
    grid-area: paragraph;
    margin: 0;
    grid-column: 2;
    grid-row: span 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {

    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {

    .place__paragraph {
        font-size: 16px;
        grid-column: 1;
        grid-row: span 1;
    }
}