.intro {
    display: flex;
    max-width: 690px;
    color: #ffffff;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}


@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 350px) {
    .intro {
        margin: 64px 16px 0 16px;
    }
}