.cover {
    margin: 92px 48px;
}

@media screen and (max-width: 1024px) {

    .cover {
    margin: 92px 0;
    }
}

@media screen and (max-width: 460px) {

    .cover {
    min-height: 200px;
    }
}