.lead__caption {
    margin-top: 8px;
    margin-left: 148px;
    color: #FFFFFF;
    height: 14px;
}

@media screen and (max-width: 1024px) {

    .lead__caption {
        margin-top: 8px;
        margin-left: 48px;
        color: #FFFFFF;
        height: 14px;
    }
}

@media screen and (max-width: 768px) {

    .lead__caption {
        margin-top: 8px;
        margin-left: 24px;
        color: #FFFFFF;
        height: 14px;
    }
}

@media screen and (max-width: 320px) {

    .lead__caption {
        margin-top: 8px;
        margin-left: 16px;
        color: #FFFFFF;
        height: 14px;
    }
}