.footer {
    max-width: 1184px;
    display: flex;
    margin: 0px auto 24px auto;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {

    .footer {
        margin: 0px 48px 24px 48px;
    }
}

@media screen and (max-width: 1024px) {

    .footer {
        margin: 0px 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {

    .footer {
        margin: 0px 24px 24px 24px;
        flex-direction: column;
    }
}